/*Globales*/

* {
  margin: 0;
  padding: 0;
}

#root {
  padding-top: 70px ;
  min-height: 100vh;
}

.contenedor {
  max-width: 425px;
  width: 100%;
  margin: auto;
}

.contenedor-imagen-flex {
  display: flex;
  justify-content: center;
}


/* Header Component*/
.titulo-app {
  font-family: 'Pacifico', cursive;
  font-weight: normal;
  font-size: 30px;
  color: #DE2828;
  margin-top: 2vh;
  text-align: center;
}

.texto-app {
  margin-top: 3vh;
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-family: 'Lora', serif;
  font-weight: normal;
}

.imagenes-landing {
  display: flex;
  flex-direction: row;
}

.imagenes-landing img {
  margin: 0 18px;
}

.logo-landing {
  width: 70px;
  height: 70px;
}

.texto-Landing {
  margin-top: 2vh;
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-family: 'Lora', serif;
  font-weight: normal;
}
p{
  color:black;
}
/*Browse Component*/

.imagen-browse {
  width: 90px;
  height: 90px;
  margin-top: 1vh;
}

/* Login Component*/
.Login {
  display: flex;
  justify-content: space-around;
  font-weight: normal;
  margin-top: 7vh;
}

/*Home Component*/
.homeIcon {
  width: 32px;
  height: 30px;
 
}

.home {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color:#120e0c;
}

.flex {
  display: flex;
  justify-content: center;
}

.homeFooter {
  z-index: 100;
  margin-top: 6vh;
}

/*Nav*/
.userLogo {
  width: 30px;
  height: 30px;
}
.profileLogo{
  width: 40px;
  height: 40px;
  border-radius: 50% 50%;
}
.menuLogo {
  width: 25px;
  height: 25px;
}

nav li {
  list-style: none !important;
}

div.dropdown-left-manual.dropdown-menu {
  right: 0 !important;
  left: auto !important;
}

div.dropdown-right-manual.dropdown-menu {
  left: 0 !important;
  right: auto !important;
}

.navbar .dropdown-menu a {
  font-weight: 400 !important;
}

.navbar {
  background-color: #000000e3;
}

nav.contenedor.navbar.scrolled {
  position: fixed !important;
  width: 100%;
  z-index: 100;
  top: 0;
}
nav.contenedor.navbar{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 8000;
}
/*Carousel*/
.slick-slide img {
  width: 180px !important;
  height: 150px !important;
}
.slick-slide .pictureActivity{
  width: 90%!important;
  height: 200px!important;
  object-fit: cover;
  object-position: 0% 50%;
}
.carousel-title {
  margin-top: 3vh;
  font-size: 18.5px;
  font-family: 'Pacifico', cursive;
}

.carousel-subtitle {
  font-size: 17px;
  font-family: 'Lora', serif;
  font-weight: 500;
}

/*Cities Component*/
.cities {
  width: 225px;
  height: 150px;
  opacity: 0.7;
  object-fit: cover;
  object-position: 0% 60%;
}

.card-title {
  color: white;
  background: rgb(0, 0, 0);
  /* fallback color */
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
  text-align: center;
}

.card-img-overlay {
  padding: 0 !important;
}

.cartas {
  margin-top: 2vh;
}

.flex-form {
  display: flex;
  justify-content: center;
}

.input-field {
  margin-top: 2vh;
  width: 100%;
}
/*Itineraries*/
.ItinerariesTitle{
  text-align: center;
  font-family: 'Alata', sans-serif;
}
.flexItineraries{
  display: flex;
}
.profileImg{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-top: 1vh;
  border: 4px solid #ccc;
}
.profileName{
  font-size:15px;
}

.Profile-box{
  width: 30%;
  margin-left: 1vh;
}
.Itineraries-box{
  width: 50%;
}
.ItinerariesCard{
  margin-top: 2vh;
}
.Rating{
  font-size: 13px;
  margin-right: 2vh;
}
.ItTit{
  font-size: 18px;
}
.NoItineraries{
  font-size: 16px;
  text-align: center;
  margin-top: 5vh;
}
.backCities{
  width: 40px;
  height: 40px;
  margin-top: 1vh;
  margin-left: 2vh;
}

.error{
width: 100%;
height: 50%;
}
.toggleContainer button{
  font-size: 13px;
  background: #343a40;
  padding: 8px 28px;
  display: inline-block;
  color: white !important; 
  margin-top: 4vh;
}
.toggleContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/*Activities*/
.TitleActivity{
  text-align: center;
  margin-top: 1vh;
  font-size: 17px;
}
.aboutActivity{
  width: 90%;
 text-align: justify;
 margin-top: 1vh;
}
/*SignIn*/
form{
  width: 90%;
  margin: auto;
}
.titleForm{
  margin-top: 3vh;
}
.form{
  margin-top: 2vh;
}
.profile{
  margin-top: 2vh;
}
.profileimg{
  width: 110px;
  height: 110px;
  border-radius: 50%;
}
.ProfileTitle{
text-align: center;
font-size: 25px;
font-weight: 400;
}
.ProfileText{
  margin-top: 5vh;
}
.usernameProfile{
  margin-bottom: 5vh;
}
.logoutProfile{
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  width: 100%;
}
.logoutProfile .btn-dark{
width: 100%;
}
.logoutProfile .btn{
  margin: 0;
}
button.btn.btn-dark a{
  color: white;
}
#err.form-group p {
  color: red;
}
#err2.form-group p {
  color: red;
}
.profile{
  width: 90%;
}
.flex button{
  width: 80%;
  margin-top: 1vh;
}
/*Comments Box*/
.Comments-box{
  margin-top: 2vh;
  display: flex;
}
.userComment{
  margin-left: 2vh;
  width: 15%;
}
.message{
  width: 78%;
  margin-left: 1vh;
  margin-top: 1vh;
}
.userName{
  font-weight: 450;
  color: blue;
}
.messagetext{
  font-size: 15px;
}
.commentsImg{
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.Comments{
  margin-top: 2vh;
}
/*Favourites*/
.NoFav{
  margin-top: 10vh;
}
.NoFav p {
  text-align: center;
}
.heart{
  width: 23px;
  height: 23px;
}
.dislike{
  color: red;
  
}
/*Responsive*/

@media (max-width: 375px) {
  .imagenes-landing img {
    margin: 0 12px;
  }
}

@media (max-width: 320px) {
  .imagenes-landing img {
    margin: 0 5px;
  }
}